@-webkit-keyframes spinAround {
	from {
		-webkit-transform: rotate(0);
		transform: rotate(0)
	}
	to {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg)
	}
}

@keyframes spinAround {
	from {
		-webkit-transform: rotate(0);
		transform: rotate(0)
	}
	to {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg)
	}
}

.wp-block-resume-block-resume-timeline {
	display: flex;
	flex-direction: column
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-marker {
	width: 4em;
	min-width: 4em;
	max-width: 8em;
	word-wrap: normal;
	text-align: center;
	display: flex;
	justify-content: center
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry {
	display: flex;
	display: -webkit-flex;
	position: relative;
	margin-left: 2em;
	padding-bottom: 2em
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry::before {
	content: "";
	background-color: #dbdbdb;
	display: block;
	width: 1px;
	height: 100%;
	position: absolute;
	left: -.5px;
	top: 0
}

/* Edited by Taro Omiya: if there are no markers at the bottom of the timeline, remove any padding from the last entry. */
.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry:last-child {
	padding-bottom: 1em;
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker {
	position: absolute;
	background: #dbdbdb;
	border: 1px solid #dbdbdb;
	border-radius: 100%;
	content: "";
	display: block;
	height: 12px;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	top: 1.2rem;
	width: 12px
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-image {
	background: #dbdbdb;
	border: 1px solid #dbdbdb;
	border-radius: 100%;
	display: block;
	overflow: hidden
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-image.is-16x16 {
	height: 16px;
	width: 16px
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-image.is-24x24 {
	height: 24px;
	width: 24px
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-image.is-32x32 {
	height: 32px;
	width: 32px
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-image.is-48x48 {
	height: 48px;
	width: 48px
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-image.is-64x64 {
	height: 64px;
	width: 64px
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-image.is-96x96 {
	height: 96px;
	width: 96px
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-image.is-128x128 {
	height: 128px;
	width: 128px
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 24px;
	width: 24px;
	background: #dbdbdb;
	border: 1px solid #dbdbdb;
	border-radius: 100%;
	padding: .5rem
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-icon>* {
	font-size: .75rem!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-outlined .image {
	background: #fff
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-outlined.is-icon {
	background: #fff
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-outlined.is-icon>* {
	color: #dbdbdb
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-white {
	background-color: #fff!important;
	border-color: #fff!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-white .image {
	border-color: #fff!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-white.is-icon {
	background-color: #fff!important;
	border-color: #fff!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-white.is-icon>* {
	color: #0a0a0a!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-white.is-outlined {
	background-color: #fff!important;
	border-color: #fff!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-white.is-outlined .image {
	background-color: #fff!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-white.is-outlined.is-icon {
	background-color: #fff!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-white.is-outlined.is-icon>* {
	color: #fff!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-black {
	background-color: #0a0a0a!important;
	border-color: #0a0a0a!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-black .image {
	border-color: #0a0a0a!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-black.is-icon {
	background-color: #0a0a0a!important;
	border-color: #0a0a0a!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-black.is-icon>* {
	color: #fff!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-black.is-outlined {
	background-color: #fff!important;
	border-color: #0a0a0a!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-black.is-outlined .image {
	background-color: #fff!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-black.is-outlined.is-icon {
	background-color: #fff!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-black.is-outlined.is-icon>* {
	color: #0a0a0a!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-light {
	background-color: #f5f5f5!important;
	border-color: #f5f5f5!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-light .image {
	border-color: #f5f5f5!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-light.is-icon {
	background-color: #f5f5f5!important;
	border-color: #f5f5f5!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-light.is-icon>* {
	color: #363636!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-light.is-outlined {
	background-color: #fff!important;
	border-color: #f5f5f5!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-light.is-outlined .image {
	background-color: #fff!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-light.is-outlined.is-icon {
	background-color: #fff!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-light.is-outlined.is-icon>* {
	color: #f5f5f5!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-dark {
	background-color: #363636!important;
	border-color: #363636!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-dark .image {
	border-color: #363636!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-dark.is-icon {
	background-color: #363636!important;
	border-color: #363636!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-dark.is-icon>* {
	color: #f5f5f5!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-dark.is-outlined {
	background-color: #fff!important;
	border-color: #363636!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-dark.is-outlined .image {
	background-color: #fff!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-dark.is-outlined.is-icon {
	background-color: #fff!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-dark.is-outlined.is-icon>* {
	color: #363636!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-primary {
	background-color: #00d1b2!important;
	border-color: #00d1b2!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-primary .image {
	border-color: #00d1b2!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-primary.is-icon {
	background-color: #00d1b2!important;
	border-color: #00d1b2!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-primary.is-icon>* {
	color: #fff!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-primary.is-outlined {
	background-color: #fff!important;
	border-color: #00d1b2!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-primary.is-outlined .image {
	background-color: #fff!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-primary.is-outlined.is-icon {
	background-color: #fff!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-primary.is-outlined.is-icon>* {
	color: #00d1b2!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-link {
	background-color: #3273dc!important;
	border-color: #3273dc!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-link .image {
	border-color: #3273dc!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-link.is-icon {
	background-color: #3273dc!important;
	border-color: #3273dc!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-link.is-icon>* {
	color: #fff!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-link.is-outlined {
	background-color: #fff!important;
	border-color: #3273dc!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-link.is-outlined .image {
	background-color: #fff!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-link.is-outlined.is-icon {
	background-color: #fff!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-link.is-outlined.is-icon>* {
	color: #3273dc!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-info {
	background-color: #209cee!important;
	border-color: #209cee!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-info .image {
	border-color: #209cee!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-info.is-icon {
	background-color: #209cee!important;
	border-color: #209cee!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-info.is-icon>* {
	color: #fff!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-info.is-outlined {
	background-color: #fff!important;
	border-color: #209cee!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-info.is-outlined .image {
	background-color: #fff!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-info.is-outlined.is-icon {
	background-color: #fff!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-info.is-outlined.is-icon>* {
	color: #209cee!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-success {
	background-color: #23d160!important;
	border-color: #23d160!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-success .image {
	border-color: #23d160!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-success.is-icon {
	background-color: #23d160!important;
	border-color: #23d160!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-success.is-icon>* {
	color: #fff!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-success.is-outlined {
	background-color: #fff!important;
	border-color: #23d160!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-success.is-outlined .image {
	background-color: #fff!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-success.is-outlined.is-icon {
	background-color: #fff!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-success.is-outlined.is-icon>* {
	color: #23d160!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-warning {
	background-color: #ffdd57!important;
	border-color: #ffdd57!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-warning .image {
	border-color: #ffdd57!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-warning.is-icon {
	background-color: #ffdd57!important;
	border-color: #ffdd57!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-warning.is-icon>* {
	color: rgba(0, 0, 0, .7)!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-warning.is-outlined {
	background-color: #fff!important;
	border-color: #ffdd57!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-warning.is-outlined .image {
	background-color: #fff!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-warning.is-outlined.is-icon {
	background-color: #fff!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-warning.is-outlined.is-icon>* {
	color: #ffdd57!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-danger {
	background-color: #ff3860!important;
	border-color: #ff3860!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-danger .image {
	border-color: #ff3860!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-danger.is-icon {
	background-color: #ff3860!important;
	border-color: #ff3860!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-danger.is-icon>* {
	color: #fff!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-danger.is-outlined {
	background-color: #fff!important;
	border-color: #ff3860!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-danger.is-outlined .image {
	background-color: #fff!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-danger.is-outlined.is-icon {
	background-color: #fff!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-marker.is-danger.is-outlined.is-icon>* {
	color: #ff3860!important
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-content {
	padding: 1em 0 0 2em
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry .timeline-content .heading {
	font-weight: 600
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry.is-white::before {
	background-color: #fff
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry.is-black::before {
	background-color: #0a0a0a
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry.is-light::before {
	background-color: #f5f5f5
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry.is-dark::before {
	background-color: #363636
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry.is-primary::before {
	background-color: #00d1b2
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry.is-link::before {
	background-color: #3273dc
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry.is-info::before {
	background-color: #209cee
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry.is-success::before {
	background-color: #23d160
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry.is-warning::before {
	background-color: #ffdd57
}

.wp-block-resume-block-resume-timeline .wp-block-resume-block-resume-entry.is-danger::before {
	background-color: #ff3860
}

.wp-block-resume-block-resume-timeline.is-style-centered .wp-block-resume-block-resume-marker {
	display: flex;
	width: 100%;
	align-self: center
}

.wp-block-resume-block-resume-timeline.is-style-centered .wp-block-resume-block-resume-entry {
	width: 50%;
	align-self: flex-end;
	flex-direction: row
}

.wp-block-resume-block-resume-timeline.is-style-centered .wp-block-resume-block-resume-entry:nth-of-type(2n) {
	align-self: flex-start;
	flex-direction: row-reverse;
	margin-left: 0;
	margin-right: 2em
}

.wp-block-resume-block-resume-timeline.is-style-centered .wp-block-resume-block-resume-entry:nth-of-type(2n)::before {
	right: -.5px;
	left: auto
}

.wp-block-resume-block-resume-timeline.is-style-centered .wp-block-resume-block-resume-entry:nth-of-type(2n) .timeline-marker {
	-webkit-transform: translateX(50%);
	transform: translateX(50%)
}

.wp-block-resume-block-resume-timeline.is-style-centered .wp-block-resume-block-resume-entry:nth-of-type(2n) .timeline-content {
	padding: 1em 2em 0 0;
	text-align: right;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	flex-basis: 100%
}

.wp-block-resume-block-resume-timeline.is-style-centered .wp-block-resume-block-resume-entry:nth-of-type(2n+1)::before {
	content: "";
	background-color: #dbdbdb;
	display: block;
	width: 1px;
	height: 100%;
	position: absolute;
	top: 0
}

.wp-block-resume-block-resume-timeline.is-style-centered .wp-block-resume-block-resume-entry.is-white::before {
	background-color: #fff
}

.wp-block-resume-block-resume-timeline.is-style-centered .wp-block-resume-block-resume-entry.is-black::before {
	background-color: #0a0a0a
}

.wp-block-resume-block-resume-timeline.is-style-centered .wp-block-resume-block-resume-entry.is-light::before {
	background-color: #f5f5f5
}

.wp-block-resume-block-resume-timeline.is-style-centered .wp-block-resume-block-resume-entry.is-dark::before {
	background-color: #363636
}

.wp-block-resume-block-resume-timeline.is-style-centered .wp-block-resume-block-resume-entry.is-primary::before {
	background-color: #00d1b2
}

.wp-block-resume-block-resume-timeline.is-style-centered .wp-block-resume-block-resume-entry.is-link::before {
	background-color: #3273dc
}

.wp-block-resume-block-resume-timeline.is-style-centered .wp-block-resume-block-resume-entry.is-info::before {
	background-color: #209cee
}

.wp-block-resume-block-resume-timeline.is-style-centered .wp-block-resume-block-resume-entry.is-success::before {
	background-color: #23d160
}

.wp-block-resume-block-resume-timeline.is-style-centered .wp-block-resume-block-resume-entry.is-warning::before {
	background-color: #ffdd57
}

.wp-block-resume-block-resume-timeline.is-style-centered .wp-block-resume-block-resume-entry.is-danger::before {
	background-color: #ff3860
}

.wp-block-resume-block-resume-timeline.is-style-rtl {
	justify-content: flex-end;
	align-items: flex-end
}

.wp-block-resume-block-resume-timeline.is-style-rtl .wp-block-resume-block-resume-entry {
	justify-content: flex-end;
	flex-direction: row;
	border-left: none;
	margin-left: 0;
	margin-right: 2em
}

.wp-block-resume-block-resume-timeline.is-style-rtl .wp-block-resume-block-resume-entry::before {
	right: 0;
	left: auto
}

.wp-block-resume-block-resume-timeline.is-style-rtl .wp-block-resume-block-resume-entry .timeline-marker {
	-webkit-transform: translateX(50%);
	transform: translateX(50%)
}

.wp-block-resume-block-resume-timeline.is-style-rtl .wp-block-resume-block-resume-entry .timeline-marker.is-image.is-16x16 {
	-webkit-transform: translateX(50%);
	transform: translateX(50%)
}

.wp-block-resume-block-resume-timeline.is-style-rtl .wp-block-resume-block-resume-entry .timeline-marker.is-image.is-24x24 {
	-webkit-transform: translateX(50%);
	transform: translateX(50%)
}

.wp-block-resume-block-resume-timeline.is-style-rtl .wp-block-resume-block-resume-entry .timeline-marker.is-image.is-32x32 {
	-webkit-transform: translateX(50%);
	transform: translateX(50%)
}

.wp-block-resume-block-resume-timeline.is-style-rtl .wp-block-resume-block-resume-entry .timeline-marker.is-image.is-48x48 {
	-webkit-transform: translateX(50%);
	transform: translateX(50%)
}

.wp-block-resume-block-resume-timeline.is-style-rtl .wp-block-resume-block-resume-entry .timeline-marker.is-image.is-64x64 {
	-webkit-transform: translateX(50%);
	transform: translateX(50%)
}

.wp-block-resume-block-resume-timeline.is-style-rtl .wp-block-resume-block-resume-entry .timeline-marker.is-image.is-96x96 {
	-webkit-transform: translateX(50%);
	transform: translateX(50%)
}

.wp-block-resume-block-resume-timeline.is-style-rtl .wp-block-resume-block-resume-entry .timeline-marker.is-image.is-128x128 {
	-webkit-transform: translateX(50%);
	transform: translateX(50%)
}

.wp-block-resume-block-resume-timeline.is-style-rtl .wp-block-resume-block-resume-entry .timeline-content {
	padding: 1em 2em 0 0;
	text-align: right
}

.wp-block-resume-block-resume-timeline.no-headers .wp-block-resume-block-resume-entry.is-first::before {
	height: calc(100% - 1.2rem);
	top: 1.2rem
}

.wp-block-resume-block-resume-timeline.no-headers .wp-block-resume-block-resume-entry.is-last::before {
	height: 1.2rem
}
